@page
@model Agenda.Pages.Categorias.IndexModel
@{
    ViewData["Title"] = "Lista de categorias";
}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Lista de categorias</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-secondary" asp-page="/Categorias/Crear">Crear nueva categoria</a>
        </div>
    </div>
    <br />
    <br />
    @if (Model.Categorias.Count() > 0)
    {
        <table id="tblCategorias" class="table table-strip table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Categorias.FirstOrDefault().Id)</th><!--Cabeceras-->
                    <th>@Html.DisplayNameFor(m => m.Categorias.FirstOrDefault().Nombre)</th>
                    <th>@Html.DisplayNameFor(m => m.Categorias.FirstOrDefault().FechaCreacion)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model.Categorias)
                {
                    <tr>

                        <td>@Html.DisplayFor(m => categoria.Id)</td><!---Columnas-->
                        <td>@Html.DisplayFor(m => categoria.Nombre)</td>
                        <td>@Html.DisplayFor(m => categoria.FechaCreacion)</td>
                        <td>
                            <a class="btn btn-success" asp-page="../Categorias/Detalle" asp-route-id="@categoria.Id">Detalle</a>
                            <a class="btn btn-warning" asp-page="../Categorias/Editar" asp-route-id="@categoria.Id">Editar</a><!--Retroce en el directorio con los puntos-->
                            <a class="btn btn-danger" asp-page="../Categorias/Borrar" asp-route-id="@categoria.Id">Borrar</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No hay categorias</p>
    }

</div>
